/**************************************************************************************
*
* Desenvolvido por BRYAN LIMA
* GitHub: https://github.com/bryan-lima
*
* Análise e Desenvolvimento de Sistemas - ADS
* Projeto Acadêmico - Tattooando: Agendamento de serviços de tatuagem
* Repositório deste projeto: https://github.com/bryan-lima/tattooando-project
*
**************************************************************************************/

.bg-black {
    background-color: black;
}
  
.bg-gray-dark {
    background-color: #222;
}
  
.bg-gray-light {
    background-color: #666666;
}
  
.text-gray-light {
    color: #666666;
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) {
    #logo-navbar-brand {
      width: 34px;
      height: 32px;
    }
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #logo-navbar-brand {
      width: 42px;
      height: 42px;
    }
}